{% extends "layouts/base.html" %}

{% block title %} Your Friends {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col-2">
            <a href="/add_friend"><button type="button" class="btn btn-primary">Add Friend</button></a>
        </div>
        <div class="col-2">
            <a href="/add_friend"><button type="button" class="btn btn-primary">Pending Requests</button></a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                {% for friend in current_user_friends %}
                    <li class="list-group-item">{{friend}}</li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
