{% extends "layouts/base.html" %}

{% block title %} Your Friends {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

  .form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
</style>

{% endblock stylesheets %}

{% block content %}

<!-- Modal -->
<form method="post" action="/friendship//remove_friend" id="remove-friend-form">
  <div class="modal fade" id="remove-friend-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Removal</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to remove <span></span> as a friend?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="container mt-4">
    <!-- <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
    </div> -->

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All Friends</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Pending Requests</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Add Friend</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% if current_user_friends|length == 0 %}
                <h1 class="text-center mt-4">You have no friends!</h1>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 friends-list">
                {% for friend in current_user_friends %}
                <div class="col">
                    <div class="card" style="max-width: 590px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="https://bnetcmsus-a.akamaihd.net/cms/content_folder_media/7RTX92EKZMZB1516142180655.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{friend}}</h5>
                              <!-- <p class="card-text">This is a wider card with supporting text.</p> -->
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Options
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="{{ url_for('client.user.get_user_profile_page', username=friend) }}">View Profile</a></li>
                                  <li><a class="dropdown-item remove-friend-btn" data-friend-username="{{friend}}" href="#" data-bs-toggle="modal" data-bs-target="#remove-friend-modal">Remove Friend</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 pending-request-cards">
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row mt-4">
              <div class="col">
                  <div class="input-group mb-3">
                      <input id="user-keyword-input" type="text" class="form-control" placeholder="Enter Username to Search (MIN LENGTH: 6)" aria-label="Enter Username to Search" aria-describedby="button-addon2">
                      <button class="btn btn-secondary" type="button" id="find-users-btn">Search</button>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <ul class="list-group list-group-flush" id="user_list">
                  </ul>
              </div>
            </div>   
        </div>
      </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    const get_friend_requests = async () => {
        const response = await fetch(`/api/user/friendship/requests`, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
        });
        return response.json();
    }

    const accept_friend_request = async friendship_id => {
        const response = await fetch(`/api/user/friendship/${friendship_id}/accept`, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
        });
        console.log(response.status);
        location.reload();
        //return response.json();
    }

    $('#nav-profile-tab').on('click', async function(){
        let results = await get_friend_requests();
        if(results.length == 0){
          $('.pending-request-cards').html('<h3 class="text-center mt-4">You have no friend requests!</h3>');
        } else render_friend_request_cards(results);
        console.log(results);
    })

    $('.pending-request-cards').on('click', '.accept-btn',  async function(){
        let friendship_id = $(this).data("friendship-id")
        await accept_friend_request(friendship_id);
        // render_friend_request_cards(results)
        // console.log(results);
    })

    $('.friends-list').on('click', '.remove-friend-btn', function(){
        let friend_username = $(this).data("friend-username");
        console.log(friend_username);
        $('#remove-friend-form').attr('action',`/api/user/friendship/${friend_username}/remove_friend`)
    })

    const render_friend_request_cards = pending_requests => {
        $('.pending-request-cards').empty()
        pending_requests.forEach(p_request => {
            $('.pending-request-cards').append(`
                <div class="col">
                    <div class="card" style="max-width: 590px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="https://bnetcmsus-a.akamaihd.net/cms/content_folder_media/7RTX92EKZMZB1516142180655.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">${p_request.user.username}</h5>
                              <form style="margin: 0; padding: 0;" method="post" action="/api/user/friendship/${p_request.id}/accept">
                              <button style="display: inline;" type="submit" data-friendship-id=${p_request.id} class="btn btn-primary">Accept</button>
                              </form>
                              <form style="margin: 0; padding: 0;" method="post" action="/api/user/friendship/${p_request.id}/decline">
                              <button style="display: inline;"type="submit" data-friendship-id=${p_request.id} class="btn btn-primary">Decline</button>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div> 
            `)
        });
    }

    $(document).on('click', '#find-users-btn', async function(){
        let keyword_input = $('#user-keyword-input').val();
        let results = await search_users(keyword_input);
        console.log(results)
        render_users(results)
    })

    $(document).on('click', '.send-friend-request-btn', async function(){
        let user_username = $(this).data('user-username');
        let results = await send_friend_request(user_username);
        console.log(results)
        alert('Request Sent!')
    })

    const search_users = async keyword => {
        const response = await fetch(`/api/user?keyword=${keyword}`, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
        });
        return response.json();
    }

    const render_users = users => {
        $('#user_list').empty()
        users.forEach(user => {
            $('#user_list').append(`<li class="list-group-item">
                                        <span>${user.username}</span>
                                        <button type="button" data-user-username="${user.username}" class="btn btn-primary send-friend-request-btn">Send Friend Request</button>
                                    </li>`)
        });
    }

    const send_friend_request = async username => {
        const response = await fetch(`/api/user/${username}/send_friend_request`, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
        });
        return response.json();
    }
</script>
{% endblock javascripts %}
