{% extends "layouts/base.html" %}

{% block title %} Create Match {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<style>
	/* Custom style */
    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      transform: scale(.7) !important;
      content: '' !important;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      content: '' !important;
    }

    .accordian-button {
      content: '' !important;
    }

    .score {
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff;
}

.confirm_selection {
    animation: glow2 0.4s alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}

@keyframes mymove {
  50% {font-size: 40px;}
}

@keyframes glow2 {

    20% {

  border-radius: 75%;
  background-color: #fff;
  box-shadow:
    0 0 15px 8px #fff,
    0 0 25px 15px #f0f,
    0 0 35px 28px #0ff;
    
    }
    35% {
      font-size: 50px;
    }


}

#myDIV {
  border: 1px solid black;
  width: 400px;
  height: 100px;
  animation: mymove 5s infinite;
}


.confirm_selection {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5>Create Match</h5>
        </div>
    </div>
    <form method="post" action="/api/match">
        {{form.hidden_tag()}}
        <div class="row">
            <div class="col-12 col-md-7 mb-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. Select Heroes
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for role in ow_hero_roles %}
                            <input type="radio" class="btn-check ow-hero-role-radio-btn" name="ow_hero_role" id="role-{{role.id}}" value="{{role.id}}" autocomplete="off" required>
                            <label class="btn btn-outline-primary" for="role-{{role.id}}">{{role.title}}</label>
                            {% endfor %}

                            <div class="row">
                                <div class="col">
                                    {% for hero in ow_heroes %}
                                    <div class="form-check ow-hero-check ow-hero-check-role-{{hero.hero_role.id}}" style="display: none;">
                                    
                                        <input class="form-check-input" type="checkbox" value="{{hero.id}}" id="hero-{{hero.id}}" name="ow_heroes">
                                        <label class="form-check-label" for="hero-{{hero.id}}">
                                            {{hero.name}}
                                        </label>
                                    </div>
            
                                    {% endfor %}
            
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          2. Select Map
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="ow_map" required id="ow_map_select">
                                <option value="" selected>Select Map</option>
                                {% for map in ow_maps %}
                                    <option value="{{map.id}}">{{map.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          3. Match Rounds
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row mb-3 match-row">
                                <div class="col">
                                    <button type="button" class="btn btn-primary add-round-btn">Add Round</button>
                                </div>
                            </div>
                            <div class="row match-row">
                                <div class="col p-0 m-0">
                                    <ol class="list-group list-group-numbered match-round-list p-0 m-0">
                                    </ol>
                                </div>
                            </div>
                            <div class="row control-match-row" style="display: none;">
                              <div class="col p-0 m-0">
                                Rounds Won
                                <div class="input-group mb-3">
                                  <button class="btn btn-primary control-player-minus" type="button">-</button>
                                  <button class="btn btn-primary control-player-plus" type="button">+</button>
                                </div>
                              </div>
                              <div class="col p-0 m-0">
                                
                              </div>
                              <div class="col p-0 m-0">
                                Rounds Lost
                                <div class="input-group mb-3">
                                  <button class="btn btn-primary control-enemy-minus" type="button">-</button>
                                  <button class="btn btn-primary control-enemy-plus" type="button">+</button>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed tag-friends-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          4. Tag Friends (Optional)
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="row mb-3">
                            <div class="col">
                                <button type="button" class="btn btn-primary add_tagged-friend-btn">Tag Friend</button>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col tagged-friends-list">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-3">
                <div class="card">
                    <div class="card bg-dark text-white">
                        <img id="map-image" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" src="\static\assets\img\ow_map_img\default.jpg" class="card-img" alt="...">
                        <div class="card-img-overlay">
                          <h4 class="card-title"><span id="map-title-text" style="padding: 7px;">Select Map</span></h4>
                          <div class="row">
                            <div class="col text-center" >
                              <span style="background-color: rgba(0, 0, 0, 0.605); padding: 4px;">Final Score</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col text-center" style="background-color: rgba(0, 0, 255, 0.5); padding-top: 5px;">
                              <h2 id="team-score-total">0</h2>
                            </div>
                            <div class="col">
                              <h6 id="match-final-result" class="text-center mt-3">DRAW</h6>
                            </div>
                            <div class="col text-center" style="background-color: rgba(255, 0, 0, 0.5); padding-top: 5px;">
                              <h2 id="enemy-score-total">0</h2>
                            </div>
                          </div>
                          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                        </div>
                      </div>
                    <!-- <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                    <!-- <ul class="list-group list-group-flush">
                      <li class="list-group-item">An item</li>
                      <li class="list-group-item">A second item</li>
                      <li class="list-group-item">A third item</li>
                    </ul> -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h6>Select Mode</h6>
                          <input type="radio" class="btn-check" name="match-mode" id="match-mode-comp" autocomplete="off" checked value=1>
                          <label class="btn btn-outline-primary" for="match-mode-comp">Competitive</label>
                          
                          <input type="radio" class="btn-check" name="match-mode" id="match-mode-qp" autocomplete="off" value=0>
                          <label class="btn btn-outline-primary" for="match-mode-qp">Quick Play</label>
                        </div>
                      </div>
                      <hr/>
                      <!-- <div class="row mt-2">
                        <div class="col d-grid gap-2">
                          <div class="input-group">
                              <span class="input-group-text">
                                  Match Date
                              </span>
                              <input data-datepicker="" class="form-control" id="date-match-played" name="date-match-played" type="text" placeholder="" required>
                          </div>
                        </div>
                      </div> -->
                      <div class="row mt-2">
                        <div class="col d-grid gap-2">
                          <div class="input-group">
                              <span class="input-group-text">
                                  Match Date
                              </span>
                              <input type="text" class="form-control" id="datetime" name="datetime-match-played" required>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="row mt-2">
                        <div class="col d-grid gap-2">
                          <div class="input-group">
                              <span class="input-group-text">
                                  Match Time
                              </span>
                              <input class="form-control" id="time-match-played" name="time-match-played" type="text" placeholder="" required>
                          </div>
                        </div>
                      </div> -->
                      <div class="row mt-2">
                        <div class="col d-grid gap-2">
                          <button type="button" class="btn btn-primary btn-block today-btn">Today</button>
                        </div>
                      </div>
                      <hr/>
                      <div class="row mt-3">
                        <div class="col d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-block text-white">Submit Match</button>
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
</form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type=text/javascript>
  const ow_maps_data = {{ ow_maps|tojson|safe }};
  const current_user_friends = {{ friends|tojson|safe }};

  console.log(ow_maps_data);
  $(document).ready(function() {
	var date = new Date();
	$('#date-match-played').val(((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear());

  })
</script>
<script src="{{ url_for('static', filename='js/match/match_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/create_match/create_match_index.js') }}"></script>
<script src="{{ url_for('static', filename='js/user/friendship.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>

  function padTo2Digits(num) {
    return num.toString().padStart(2, '0');
  }
  
  function formatDate(date) {
    return (
      [
        date.getFullYear(),
        padTo2Digits(date.getMonth() + 1),
        padTo2Digits(date.getDate()),
      ].join('-') +
      ' ' +
      [
        padTo2Digits(date.getHours()),
        padTo2Digits(date.getMinutes())
      ].join(':')
    );
  }

  console.log(formatDate(new Date()));
  
    flatpickr("#datetime", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      altInput: true,
      altFormat: "F j, Y @ h:i K",
      defaultDate: '2022-09-27 13:33',
      minuteIncrement: 1
    });
</script>
{% endblock javascripts %}
