{% extends "layouts/base.html" %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
    <div class="row mt-2">
        <div class="col">
            <h5>Create Match</h5>
        </div>
    </div>
    <form method="post" action="/api/match">
    <div class="row">
        <div class="col">
            <h6>Select Role</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for role in ow_hero_roles %}
            <input type="radio" class="btn-check ow-hero-role-radio-btn" name="ow_hero_role" id="role-{{role.id}}" value="{{role.id}}" autocomplete="off">
            <label class="btn btn-outline-primary" for="role-{{role.id}}">{{role.title}}</label>
            {% endfor %}

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="ow_map">
                <option selected>Select Map</option>
                {% for map in ow_maps %}
                    <option value="{{map.id}}">{{map.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for hero in ow_heroes %}
            <div class="form-check ow-hero-check ow-hero-check-role-{{hero.hero_role.id}}" style="display: none;">
               
                <input class="form-check-input" type="checkbox" value="{{hero.id}}" id="hero-{{hero.id}}" name="ow_heroes">
                <label class="form-check-label" for="hero-{{hero.id}}">
                    {{hero.name}}
                </label>
            </div>

            {% endfor %}

        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button type="button" class="btn btn-primary add-round-btn">Add Round</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol class="list-group list-group-numbered match-round-list">
              </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success btn-block">Submit Match</button>
        </div>
    </div>
</form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ url_for('static', filename='js/match/create_match/create_match_index.js') }}"></script>
{% endblock javascripts %}
