{% extends "layouts/base.html" %}

{% block title %} Create Match {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
	/* Custom style */
    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      transform: scale(.7) !important;
      content: '' !important;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      content: '' !important;
    }

    .accordian-button {
      content: '' !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Edit Match</h3>
        </div>
    </div>
    <div class="row">
      <div class="col">
          <h5>Submitted by {{match.created_by_user.username}} on {{match.date_match_created}}</h5>
      </div>
  </div>
    <form method="post" action="/api/match/{{match.id}}">
        {{form.hidden_tag()}}
        <div class="row">
            <div class="col-12 col-md-7 mb-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. Select Heroes
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for role in ow_hero_roles %}
                              {% if role.id == c_u_hero_role_id %}
                                  <input type="radio" class="btn-check ow-hero-role-radio-btn" name="ow_hero_role" id="role-{{role.id}}" value="{{role.id}}" autocomplete="off" required checked>
                                  <label class="btn btn-outline-primary" for="role-{{role.id}}">{{role.title}}</label>
                              {% else %}
                                  <input type="radio" class="btn-check ow-hero-role-radio-btn" name="ow_hero_role" id="role-{{role.id}}" value="{{role.id}}" autocomplete="off" required>
                                  <label class="btn btn-outline-primary" for="role-{{role.id}}">{{role.title}}</label>
                              {% endif %}

                            {% endfor %}

                            <div class="row">
                                <div class="col">
                                    {% for hero in ow_heroes %}
                                        {% if hero.id in c_u_heroes %}
                                          <div class="form-check ow-hero-check ow-hero-check-role-{{hero.hero_role.id}}" style="display: none;">
                                      
                                            <input class="form-check-input" type="checkbox" value="{{hero.id}}" id="hero-{{hero.id}}" name="ow_heroes" checked>
                                            <label class="form-check-label" for="hero-{{hero.id}}">
                                                {{hero.name}}
                                            </label>
                                          </div>
                                        {% else %}
                                          <div class="form-check ow-hero-check ow-hero-check-role-{{hero.hero_role.id}}" style="display: none;">
                                        
                                            <input class="form-check-input" type="checkbox" value="{{hero.id}}" id="hero-{{hero.id}}" name="ow_heroes">
                                            <label class="form-check-label" for="hero-{{hero.id}}">
                                                {{hero.name}}
                                            </label>
                                          </div>
                                        {% endif %}

            
                                    {% endfor %}
            
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          2. Select Map
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="ow_map" required id="ow_map_select">
                                <option value="" selected>Select Map</option>
                                {% for map in ow_maps %}
                                    {% if map.id == match_map_id %}
                                      <option value="{{map.id}}" selected>{{map.name}}</option>
                                    {% else %}
                                      <option value="{{map.id}}">{{map.name}}</option>
                                    {% endif %}
                                    
                                {% endfor %}
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          3. Match Rounds
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body" style="display: none;">
                            <div class="row mb-3">
                                <div class="col">
                                    <button type="button" class="btn btn-primary add-round-btn">Add Round</button>
                                </div>
                                <div class="col">
                                  <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Quick Play</label>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ol class="list-group list-group-numbered match-round-list">
                                    </ol>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed tag-friends-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          4. Tag Friends (Optional)
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="row mb-3">
                            <div class="col">
                                <button type="button" class="btn btn-primary add_tagged-friend-btn">Tag Friend</button>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col">
                                <ol class="list-group list-group-numbered tagged-friends-list">
                                </ol>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-3">
                <div class="card">
                    <div class="card bg-dark text-white">
                        <img id="map-image" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" src="\static\assets\img\ow_map_img\default.jpg" class="card-img" alt="...">
                        <div class="card-img-overlay">
                          <h5 class="card-title" id="map-title-text">Select Map</h5>
                          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                        </div>
                      </div>
                    <!-- <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                    <!-- <ul class="list-group list-group-flush">
                      <li class="list-group-item">An item</li>
                      <li class="list-group-item">A second item</li>
                      <li class="list-group-item">A third item</li>
                    </ul> -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h6>Select Mode</h6>
                          {% if match.ranked_flag == True %}

                          <input type="radio" class="btn-check" name="match-mode" id="match-mode-comp" autocomplete="off" checked value=1>
                          <label class="btn btn-outline-primary" for="match-mode-comp">Competitive</label>
                          
                          <input type="radio" class="btn-check" name="match-mode" id="match-mode-qp" autocomplete="off" value=0>
                          <label class="btn btn-outline-primary" for="match-mode-qp">Quick Play</label>

                          {% else %}

                          <input type="radio" class="btn-check" name="match-mode" id="match-mode-comp" autocomplete="off"  value=1>
                          <label class="btn btn-outline-primary" for="match-mode-comp">Competitive</label>
                          
                          <input type="radio" class="btn-check" name="match-mode" id="match-mode-qp" autocomplete="off" checked value=0>
                          <label class="btn btn-outline-primary" for="match-mode-qp">Quick Play</label>

                          {% endif %}
                        </div>
                      </div>
                      <hr/>
                      <div class="row mt-2">
                        <div class="col d-grid gap-2">
                          <div class="input-group">
                              <span class="input-group-text">
                                  Match Date
                              </span>
                              <input data-datepicker="" class="form-control" id="date-match-played" name="date-match-played" type="text" placeholder="" required value="{{match.date_match_played_formatted}}">
                          </div>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col d-grid gap-2">
                          <button type="button" class="btn btn-primary btn-block today-btn">Today</button>
                        </div>
                      </div>
                      <hr/>
                      <div class="row mt-3">
                        <div class="col d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-block text-white">Submit Match</button>
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
</form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ url_for('static', filename='js/match/edit_match/classes/match/match_user_manager.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/user/user.class.js') }}"></script>

<script src="{{ url_for('static', filename='js/match/edit_match/classes/match/match.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/match/match_round_manager.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/match/match_round.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/match/match_round_phase.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/match/match_map_manager.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/match/match_user_hero_manager.class.js') }}"></script>

<script src="{{ url_for('static', filename='js/match/edit_match/classes/ow_map/ow_map.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/ow_map/ow_map_mode.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/ow_map/ow_map_manager.class.js') }}"></script>

<script src="{{ url_for('static', filename='js/match/edit_match/classes/hero/hero_manager.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/hero/hero.class.js') }}"></script>
<script src="{{ url_for('static', filename='js/match/edit_match/classes/hero/hero_role.class.js') }}"></script>

<script type=text/javascript>
  const current_user_id = {{current_user.id}};
  console.log("current_user_id", current_user_id);
  const ow_maps_json = {{ ow_maps|tojson|safe }};
  const ow_map_modes_json = {{ ow_map_modes|tojson|safe }};

  const ow_match_data = {{ match|tojson|safe }};
  const ow_match_json = {{ match_json|tojson|safe }};

  const ow_heroes_json = {{ ow_heroes|tojson|safe }};  
  console.log('heroes json', ow_heroes_json)

  const current_user_friends = [];
  console.log("match_json 1", ow_match_json);
  const match_users_data = ow_match_json.users;
  const match_rounds_data = ow_match_json.rounds;
  const match_ow_map = ow_match_json.map_played;

  console.log('ow_maps',ow_maps_json);
  console.log('ow_map_mode', ow_map_modes_json);

  const ow_maps = [];
  const ow_map_modes = [];

  ow_map_modes_json.forEach(ow_map_mode=> {
    let { id, name, max_score } = ow_map_mode;
    let new_map_mode = new OverwatchMapMode(id, name, max_score);

    ow_map_modes.push(new_map_mode);
  })

  ow_maps_json.forEach(ow_map_data => {
    let mode_data = ow_map_data.map_mode;
    let ow_map_mode = new OverwatchMapMode(mode_data.id, mode_data.name, mode_data.max_score);
    let ow_map = new OverwatchMap(ow_map_data.id,
                              ow_map_data.name,
                              ow_map_mode, 
                              ow_map_data.image_location);

    ow_maps.push(ow_map);
  })

  const ow_heroes = [];

  ow_heroes_json.forEach(h => {
    let h_role = h.hero_role;
    let hero_role = new HeroRole(h_role.id, h_role.title);
    let hero = new Hero(h.id, h.name, hero_role);

    ow_heroes.push(hero);
  })

  console.log("hero objs", ow_heroes);

  let match_users = [];
  let match_rounds = [];

  match_users_data.forEach(match_user_data=> {
    let { id } = match_user_data;
    let username = match_user_data.user.username;
    let user_id = match_user_data.user.id;
    let hero_manager = new UserHeroManager();
    let user = new User(id, username, hero_manager, user_id);
    match_users.push(user);
  })
  match_rounds_data.forEach((match_round_data,index)=> {
    let { phase, score } = match_round_data;
    let match_round = new Match(new MatchRound(phase, score, index));
    match_rounds.push(match_round);
  })


  let map_id = match_ow_map.id;
  let map_name = match_ow_map.name;

  let map_mode_id = match_ow_map.map_mode.id;
  let map_mode_name = match_ow_map.map_mode.name;
  let map_mode_max_score = match_ow_map.map_mode.max_score;

  let ow_map_mode = new OverwatchMapMode(map_mode_id, map_mode_name, map_mode_max_score);

  let ow_map = new OverwatchMap(map_id, map_name, ow_map_mode, "FILE LOCATION");


  console.log(ow_maps)
  let map_manager = new MapManager(ow_maps);


  let match_user_manager = new MatchUserManager(match_users, current_user_id);
  let match_round_manager = new MatchRoundManager(match_rounds);
  let match_map_manager = new MatchMapManager(ow_map);
  let match = new Match(match_user_manager, match_round_manager, match_map_manager);
  console.log("match_class", match);
  console.log("current match user", match.get_current_match_user());
  console.log("tagged friends", match.get_tagged_friends());
  console.log("map manager", map_manager);
</script>

{% endblock javascripts %}
