{% extends "layouts/base.html" %}

{% block title %} Pending Matches {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            {% for match in match_invites %} 
                <h6>{{match.match_id}} | {{match.submitted_by_username}} | {{match.date_match_played}}</h6>
            {% endfor %}           
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
//     $(document).ready( function () {
//     $('#myTable').DataTable();
// } );
</script>

{% endblock javascripts %}
