{% extends "layouts/base-fullscreen.html" %}

{% block title %}Register{% endblock title %}

{% block content %} 
    <form action="/register" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"><br>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br>
        <label for="confirm-password">Retype password</label>
        <input type="password" id="confirm-password" name="confirm_password"><br>

        <input type="submit" value="Register">
    </form>
{% endblock content %}