{% extends "layouts/base-fullscreen.html" %}

{% block title %}Register{% endblock title %}

{% block content %} 

    <div style="text-align: center; width: 500px; margin: 0 auto; margin-top: 170px;">
        <form action="api/auth/register" method="POST" style="border: 3px solid black; width: 500px;
        border-radius: 5px; padding-top: 20px; padding-bottom: 20px;">
            <label for="email" style="display: inline-block; width: 110px;">Email</label>
            <input type="email" id="email" name="email" placeholder="abc123@gmail.com" style="padding: 5px 10px;"><br>
            <label for="username" style="display: inline-block; width: 110px;">Username</label>
            <input type="text" id="username" name="username" placeholder="noobmaster69" style="padding: 5px 10px"><br>
            <label for="password" style="display: inline-block; width: 110px;">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" style="padding: 5px 10px;"><br>
            <label for="confirm-password" style="display: inline-block; width: 110px;">Retype password</label>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Re-enter password" 
            style="padding: 5px 10px;"><br>

            <input type="submit" value="Register" style="margin-top: 10px;">
            <br/>
            <br/>
            <a href="{{ url_for('client.auth.get_login') }}"><span>Have an account already? Login Here</span></a>
        </form>
    </div>
    
{% endblock content %}